@keyframes positiveRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.main_drawingBox {
  width: 100%;
  height: 690px;
  overflow: hidden;

  .main_drawingContext {
    display: flex;
    width: 20440px;
    height: 100%;
    position: relative;

    .tunnelBackgroundBorder_imgBox {
      width: 220px;
      height: 600px;
      margin-top: 25px;
      flex-shrink: 0;

      &>img {
        width: 100%;
        height: 100%;
      }
    }

    .mainContext {
      width: 20000px;
      margin-top: 25px;
      height: 600px;
      position: relative;
      flex-shrink: 0;

      .background_imgBox {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        &>img {
          width: 100%;
          height: 100%;
        }
      }

      .mainOptionBox {
        width: 100%;
        height: 600px;
        position: relative;

        .itemBox {
          position: absolute;
          left: 0;
          width: 100%;

          // display: flex;
          // justify-content: space-around;
          // 车行通道
          &.passagewayBox {
            top: 259px;

            .passagewayItem {
              width: 50px;
              height: 80px;
              position: absolute;
              top: 0;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          // 情报板
          .informationBoardItem {
            width: 50px;
            height: 200px;
            position: absolute;
            top: 0;
            background-color: #497785;
            padding: 5px;

            .informationContext {
              width: 100%;
              height: 100%;
              background-color: #2f5b68;
              box-shadow: inset 0 0 7px 1px #152e35;
              writing-mode: tb-rl;
              text-align: center;
              line-height: 40px;
              color: #e99c21;
              font-size: 18px;
              font-weight: bold;
            }
          }

          &.informationBoardUpBox {
            top: 50px;
          }

          &.informationBoardDownBox {
            top: 350px;
          }

          // 车道指示器
          .laneIndicatorItem {
            width: 36px;
            height: 20px;
            position: absolute;
            top: 0;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &.laneIndicatorUpBox {
            top: 98px;
          }

          &.laneIndicatorDownBox {
            top: 398px;

            .laneIndicatorItem {
              transform: rotate(180deg);
            }
          }

          // 隧道风机
          &.tunnelFanUpBox {
            top: 120px;
          }

          &.tunnelFanDownBox {
            top: 454px;
          }

          .tunnelFanItem {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 0;
            &.positive {
              animation: positiveRotate 3s linear infinite;
            }

            &.stop {
              animation: none;
            }

            &.reverse {
              animation: rotateReverse 3s linear infinite;
            }

            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
            }
          }

          // 灯光
          &.lightingUpBox {
            top: 230px;
          }

          &.lightingDownBox {
            top: 354px;
          }

          .lightingItem {
            width: 40px;
            height: 15px;
            position: absolute;
            top: 0;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
            }
          }

          // 信号灯
          .signalLampItem {
            width: 36px;
            height: 20px;
            position: absolute;
            top: 0;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &.signalLampUpBox {
            top: 50px;
          }

          &.signalLampDownBox {
            top: 527px;

            .signalLampItem {
              transform: rotate(180deg);
            }
          }

          // 亮度检测器
          .brightnessDetectorItem {
            width: 50px;
            height: 20px;
            position: absolute;
            top: 0;

            .brightnessDetectorItemContext {
              display: inline-block;
              color: #fff;
              font-size: 10px;
              margin: 0;
              width: 30px;
              margin-left: 5px;
              line-height: 20px;
              vertical-align: middle;
            }

            img {
              width: 15px;
              height: 100%;
              vertical-align: middle;
            }
          }

          &.brightnessDetectorUpBox {
            top: 74px;
          }

          &.brightnessDetectorDownBox {
            top: 503px;
          }

          // 照度检测器
          .illuminanceDetectorItem {
            width: 60px;
            height: 20px;
            position: absolute;
            top: 0;

            .illuminanceDetectorItemContext {
              display: inline-block;
              color: #fff;
              font-size: 10px;
              margin: 0;
              width: 40px;
              margin-left: 5px;
              line-height: 1;
              vertical-align: middle;
            }

            img {
              width: 15px;
              height: 100%;
              vertical-align: middle;
            }
          }

          &.illuminanceDetectorUpBox {
            top: 74px;
          }

          &.illuminanceDetectorDownBox {
            top: 503px;
          }

          // 风速风向仪
          .anemoclinographItem {
            width: 70px;
            height: 20px;
            position: absolute;
            top: 0;

            .anemoclinographItemContext {
              display: inline-block;
              color: #fff;
              font-size: 10px;
              margin: 0;
              width: 50px;
              margin-left: 5px;
              line-height: 20px;
              vertical-align: middle;
            }

            img {
              width: 15px;
              height: 100%;
              vertical-align: middle;
            }
          }

          &.anemoclinographUpBox {
            top: 74px;
          }

          &.anemoclinographDownBox {
            top: 503px;
          }

          // 车辆检测器
          .vehicleDetectorItem {
            width: 25px;
            height: 20px;
            position: absolute;
            top: 0;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &.vehicleDetectorUpBox {
            top: 50px;
          }

          &.vehicleDetectorDownBox {
            top: 527px;
          }

          // 机器人
          .robotItem {
            width: 120px;
            height: 30px;
            position: absolute;
            top: 0;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &.robotUpBox {
            top: 68px;
          }

          &.robotDownBox {
            bottom: 100px;
          }

          // 临时停车
          .parkingItem {
            width: 246px;
            height: 50px;
            position: absolute;
            top: 0;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &.parkingUpBox {
            top: 0;
          }

          &.parkingDownBox {
            bottom: 52px;
          }
        }
      }
    }

    .tunnelEntrance {
      position: absolute;
      top: 60px;
      height: 529px;
      width: 350px;
      opacity: 0.5;

      img {
        width: 100%;
        height: 100%;
      }

      &.entrance {
        left: 0;
      }

      &.export {
        right: 0;
      }
    }

    .scaleBox {
      position: absolute;
      bottom: 40px;
      padding: 0 220px;
      height: 50px;
      width: 100%;
    }

    .scaleTop {
      position: absolute;
      top: 0px;
      padding: 0 220px;
      height: 50px;
      width: 100%;
    }
  }

  .scrollBox {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(to right, #515254 50%, #6c7073 50%);
    background-size: 30px 100%;

    .mask {
      width: 100%;
      height: 10px;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      .robotBottom {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 10px;
        background-color: #f00;
        border-radius: 50%;
        z-index: 1;
      }
    }

    .robotTop {
      position: absolute;
      left: 0;
      top: 0;
      width: 10px;
      height: 10px;
      background-color: #f00;
      border-radius: 50%;
      z-index: 1;
    }

    .scrollBtn {
      width: 40px;
      height: 40px;
      background-color: rgba(122, 122, 122, 0.2);
      position: absolute;
      left: 0;
      top: -10px;
      border-radius: 3px;
      cursor: pointer;

      .scrollBtnMask {
        width: 100%;
        height: 20px;
        margin: 10px 0;
        background-color: #3d3f3e;
        text-align: center;

        .scrollContext {
          line-height: 20px;
          color: #fff;
        }
      }

      .tooltipBox {
        position: absolute;
        bottom: 50px;
        width: 80px;
        height: 30px;
        left: 10px;
        background-color: #3d3f3e;
        border-radius: 5px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        line-height: 28px;
        display: none;

        &::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 0;
          bottom: -10px;
          left: 30px;
          border-top: 10px solid #fff;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }

      &:hover .tooltipBox {
        display: block;
      }

      &:hover .scrollContext {
        display: none;
      }
    }
  }
}
